{% extends 'template_base.html' %}

{% block titulo %}
    Nuestras Cervezas de 500cc
{% endblock %}


{% block formulario_busqueda %}
<form class="form-inline my-2 my-lg-0" action ="/products/search_product/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name = 'search'>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>

{% endblock %}



{% block listado_de_cervezas %}


<h2 class="text-center">Cervezas de 500cc</h2>
{% for product in products %}




<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title">{{product.name}} - {{product.style}}</h4>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">Malta : {{product.malt}} <br> Lúpulo : {{product.hop}}</p>
        <h5>Precio : {{product.price}}</h5>
        <h5>Stock : {{product.is_active}}</h5>
        <a href="#" class="btn btn-primary">Agregar</a>
        <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
</div>


{% endfor %}

{% endblock %}