{% extends 'template_base.html' %}

{% block titulo %}
    Agregar lata
{% endblock %}


{% block listado_de_cervezas %}


<form action="" method = 'POST'>
{% csrf_token %}

<table>

    {{form.as_table}}

</table>

<p><input type="submit" value="Enviar"></p>

</form>

{% endblock %}




<!-- <h1>Nombre : {{new_botella_lata_473cc.name}}</h1>
<h2>Estilo : {{new_botella_lata_473cc.style}}</h2>
<h3>Alc : {{new_botella_lata_473cc.alcohol_volume}} - IBU : {{new_botella_lata_473cc.IBU}}</h3>
<h4>Descripción : {{new_botella_lata_473cc.description}}</h4> -->
<!-- Atención, no se muestra la descripcion en front-- corregir -->
<!-- <h5>Malta : {{new_botella_lata_473cc.malt}} - Lúpulo : {{new_botella_lata_473cc.hop}}</h5>
<h6>Precio : {{new_botella_lata_473cc.price}}
<h7>Stock : {{new_botella_lata_473cc.is_active}}</h7> -->